<mat-card>
  <mat-card-content>
    <p>
      <strong>Subtotal:</strong> s/.
      {{ formatUtilService.formatPrice(subtotal) }}
    </p>
    <p>
      <strong>Tax ({{ taxRate * 100 }}%):</strong> s/.
      {{ formatUtilService.formatPrice(calculateTax()) }}
    </p>
    <p>
      <strong>Descuento:</strong> s/.
      {{ formatUtilService.formatPrice(discount) }}
    </p>
    <p>
      <strong>Total:</strong> s/.
      {{ formatUtilService.formatPrice(total) }}
    </p>
  </mat-card-content>
</mat-card>
