.login-form {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
  margin-top: 15px;
  font-size: 14px;
  color: #1976d2;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #125699;
    text-decoration: underline;
  }
}
