<div [formGroup]="form" class="tab-content">
    <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre de la empresa" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Dirección" formControlName="address" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Teléfono" formControlName="phone" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Email" formControlName="email" type="email" />
    </mat-form-field>
</div>