.auth-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7fc;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .auth-layout {
    padding: 20px;
  }

  .auth-layout {
    min-height: 92.5vh;
  }
}
