<div class="dual-columns-wrapper">
    <div class="left-column">
        <h3>Columna Izquierda</h3>
        <div class="scroll-content">
            <p *ngFor="let i of [].constructor(50); let idx = index">
                Contenido línea {{ idx + 1 }}
            </p>
        </div>
    </div>

    <div class="right-column">
        <h3>Columna Derecha</h3>
        <div class="scroll-content">
            <p *ngFor="let i of [].constructor(30); let idx = index">
                Contenido línea {{ idx + 1 }}
            </p>
        </div>
    </div>
</div>
<div class="dual-columns-wrapper">
    <div class="left-column">
        <h3>Columna Izquierda</h3>
        <div class="scroll-content">
            <p *ngFor="let i of [].constructor(50); let idx = index">
                Contenido línea {{ idx + 1 }}
            </p>
        </div>
    </div>

    <div class="right-column">
        <h3>Columna Derecha</h3>
        <div class="scroll-content">
            <p *ngFor="let i of [].constructor(30); let idx = index">
                Contenido línea {{ idx + 1 }}
            </p>
        </div>
    </div>
</div>