.new-sale-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 43%;
}

app-product-selector {
  width: 59%;
}

@media (max-width: 768px) {
  .new-sale-container {
    flex-direction: column;
  }

  app-product-selector {
    width: 100%;
  }

  .details-container {
    min-width: 100%;
  }
}
