<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    [opened]="isOpen"
    [mode]="getSidenavMode()"
    (closed)="onSidenavClosed()"
  >
    <mat-nav-list>
      <!-- Opción de Ventas -->
      <a mat-list-item (click)="navigateTo('management/sales/new')">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Registrar venta</span>
      </a>

      <!-- Opción de Productos -->
      <a mat-list-item (click)="navigateTo('management/products')">
        <mat-icon matListItemIcon>storefront</mat-icon>
        <span matListItemTitle>Productos</span>
      </a>

      <!-- Opción de Categorías -->
      <a mat-list-item (click)="navigateTo('management/categories')">
        <mat-icon matListItemIcon>category</mat-icon>
        <span matListItemTitle>Categorías</span>
      </a>

      <a mat-list-item (click)="navigateTo('management/suppliers')">
        <mat-icon matListItemIcon>local_shipping</mat-icon>
        <span matListItemTitle>Proveedores</span>
      </a>

      <a mat-list-item (click)="navigateTo('management/lines')">
        <mat-icon matListItemIcon>align_horizontal_right</mat-icon>
        <span matListItemTitle>Lineas</span>
      </a>

      <a mat-list-item (click)="navigateTo('management/brands')">
        <mat-icon matListItemIcon>workspace_premium</mat-icon>
        <span matListItemTitle>Marcas</span>
      </a>

      <a mat-list-item (click)="navigateTo('management/units-measure')">
        <mat-icon matListItemIcon>square_foot</mat-icon>
        <span matListItemTitle>Unid. de medida</span>
      </a>

      <!-- Opción de Reportes -->
      <a mat-list-item (click)="navigateTo('management/reports')">
        <mat-icon matListItemIcon>assessment</mat-icon>
        <span matListItemTitle>Reportes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
