<div class="layout">
  <mat-toolbar class="mat-elevation-z3 toolbar">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person_check</mat-icon>
        <span>Revisar perfil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  @if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

  <mat-sidenav-container>
    <mat-sidenav [opened]="isOpen" [mode]="getSidenavMode()" (closed)="onSidenavClosed()">
      <mat-nav-list>
        <ng-container *ngFor="let item of menuItems">
          <!-- Ítem independiente -->
          <a *ngIf="!item.isSection" mat-list-item (click)="navigateTo(item.route ?? '')">
            <mat-icon matListItemIcon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>

          <!-- Sección -->
          <ng-container *ngIf="item.isSection">
            <h3 class="mat-subheader">{{ item.label }}</h3>
            <ng-container *ngFor="let child of item.children">
              <ng-container *ngTemplateOutlet="renderItem; context: { $implicit: child }"></ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

      </mat-nav-list>

      <!-- Template recursivo -->
      <ng-template #renderItem let-item>
        <!-- Ítem simple -->
        <a *ngIf="!item.children" mat-list-item (click)="navigateTo(item.route ?? '')">
          <mat-icon matListItemIcon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>

        <!-- Ítem desplegable -->
        <ng-container *ngIf="item.children">
          <a mat-list-item (click)="toggleSection(item.label)">
            <mat-icon matListItemIcon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            <div class="parent-item">
              <span>{{ item.label }}</span>
              <mat-icon class="arrow-icon">
                {{ isSectionOpen(item.label) ? "expand_less" : "expand_more" }}
              </mat-icon>
            </div>
          </a>
          <div class="nested-item" *ngIf="isSectionOpen(item.label)">
            <div class="item-child-container">
              <ng-container *ngFor="let child of item.children">
                <ng-container *ngTemplateOutlet="renderItem; context: { $implicit: child }"></ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-template>


    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>