.content {
  padding: 12px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  position: relative;
  z-index: 5;
  height: 64px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 250px;
}

@media (max-width: 768px) {
  mat-sidenav-container {
    height: calc(92.5vh - 64px);
  }
}
