.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh; /* ocupar todo el viewport */
}

/* Subtítulos */
.mat-subheader {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  padding: 4px 16px 2px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line,
.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.mat-mdc-nav-list .mat-mdc-list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.content {
  padding: 1rem;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  z-index: 5;
  height: 64px;
  flex-shrink: 0; /* no se achica */
}

mat-sidenav-container {
  flex: 1; /* ocupa el resto del espacio */
}

mat-sidenav {
  width: 230px;
}

.nested-item {
  padding-left: 20px;
  font-size: 0.95rem;
}

.spacer {
  flex: 1 1 auto;
}

.parent-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-child-container {
  border-left: 1px solid rgba(0, 0, 0, 0.38);
}

.arrow-icon {
  color: rgba(0, 0, 0, 0.38);
}

mat-progress-bar {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-right: 12px;
}
