.content {
  padding: 12px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

mat-toolbar {
  position: relative;
  z-index: 5;
  height: 64px;
}

mat-sidenav-container {
  height: calc(100dvh - 64px);
}

mat-sidenav {
  width: 250px;
}

.nested-item {
  padding-left: 20px;
  font-size: 0.95rem;
}

.spacer {
  flex: 1 1 auto;
}

.parent-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-child-container {
  border-left: 1px solid rgba(0, 0, 0, 0.38);
}

.arrow-icon {
  color: rgba(0, 0, 0, 0.38);
}

mat-progress-bar {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 10;
}
