.form-container {
  max-width: 800px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
}

.input-column {
  flex: 1;
  min-width: 280px;
}

.arrow-back {
  margin-bottom: 10px;
}

.form-title {
  text-align: center;
}

.textarea {
  margin-bottom: 8px;
}
