<div class="container">

    <div class="form-container">
        <button mat-button class="arrow-back" (click)="goBack()">
            <mat-icon color="primary">arrow_back</mat-icon>Volver
        </button>
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <mat-tab-group (selectedIndexChange)="onTabChange($event)">
                <mat-tab label="Persona">
                    <app-person-form [form]="personGroup"></app-person-form>
                </mat-tab>
                <mat-tab label="Empresa">
                    <app-company-form [form]="companyGroup"></app-company-form>
                </mat-tab>
            </mat-tab-group>

            <div style="margin-top: 1.5rem; text-align: center;">
                <button mat-raised-button color="primary" type="submit" [disabled]="customerForm.invalid">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>