<h2>Inventario de Productos</h2>

<app-dynamic-table [columns]="columns" [data]="data" [total]="total" [page]="page" [actionsTemplate]="customActions"
    [filterActionsTemplate]="extraFilterButtons" (pageChange)="onPageChange($event)">
</app-dynamic-table>

<!-- Plantilla de acciones personalizadas -->
<ng-template #customActions let-row>
    <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item (click)="onEdit(row)">
            <mat-icon>edit</mat-icon>
            <span>Editar stock</span>
        </button>
        <button mat-menu-item (click)="onTransfer(row)">
            <mat-icon>swap_horiz</mat-icon>
            <span>Transferir stock</span>
        </button>
        <button mat-menu-item (click)="onViewMovements(row)">
            <mat-icon>history</mat-icon>
            <span>Ver movimientos</span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #extraFilterButtons>
    <button mat-flat-button color="primary" [matMenuTriggerFor]="exportMenu">
        <mat-icon fontSet="material-symbols-outlined">file_export</mat-icon>
        Exportar
    </button>

    <mat-menu #exportMenu="matMenu">
        <button mat-menu-item (click)="onExport('excel')">
            <mat-icon>table_view</mat-icon>
            Excel
        </button>
        <button mat-menu-item (click)="onExport('pdf')">
            <mat-icon>picture_as_pdf</mat-icon>
            PDF
        </button>
    </mat-menu>
</ng-template>