/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}

.module {
  padding: 20px;
}

:root {
  --primary-color: #222749;
  --primary-light-color: #5d7dd4;

  --secondary-color: #3f51b5;
  --secondary-light-color: #cbd8f2;

  --font-size: 16px;
}
