table {
  width: 100%;
}

.selected-products {
  overflow: auto;
  max-height: 260px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.remove {
  padding: 0;
  width: 4px;
}

.plus-minus {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  min-width: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .selected-products {
    max-height: 200px;
  }
}
