.table-container {
  max-height: 340px;
  overflow: auto;
}

table {
  width: 100%;
}

th.mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-visibility-controls {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.estado {
  text-align: center;
  padding: 8px;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  width: 78px;
}

.estado.activo {
  background-color: #28a745;
}

.estado.inactivo {
  background-color: #dc3545;
}

mat-form-field {
  width: 100%;
}

p {
  width: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
}

.image-container img {
  max-width: 70px;
  max-height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.image-container span {
  font-style: italic;
  color: #888;
}
