<div class="column-visibility-controls">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>toggle_on</mat-icon> Configurar columnas
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let column of columns"
      (click)="toggleColumnVisibility(column)"
    >
      <mat-checkbox [checked]="!column.hidden">{{
        column.header
      }}</mat-checkbox>
    </button>
  </mat-menu>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Índice -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Columnas dinámicas -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element[column.field] || "-" }}
      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="actions">
          <button
            mat-icon-button
            color="accent"
            (click)="onToggleStatus(element)"
          >
            <mat-icon>{{
              element.status === "A" ? "block" : "check_circle"
            }}</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
